header {
    margin-bottom: 10%;
}
.filter-black {
    filter: invert(1) grayscale(100%) brightness(0%);
}

#productQuantity {
    width: 40%;
    height: 50px;
    border-color: #E96C12;
}

#addToCart {
    height: 50px;
    border: 2px solid #E96C12;
    background-color: #E96C12;
    color: #fff;
    border-radius: 5px;
    transition: all 200ms ease;
    cursor: pointer;
}

#addToCart:hover {
    border: 2px solid #E96C12;
    background-color: #fff;
    color: #000000;
    border-radius: 5px;
}

.hide {
    display: none;
}

.alert-custom {
    background-color: #E96C12;
    /* Color naranja bonito */
    color: white;
    /* Color del texto blanco para contraste */
}

@media (max-width: 767.98px) {
    
    .alert-custom {
        width: 80%;
        margin-top: 100px;
    }
}


