/*----------Estilo del carousel----------*/

.carousel-inner img {
    height: 84vh; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.carousel-caption {
    bottom: 20%; /* Ajusta este valor para mover el contenido hacia arriba o hacia abajo */
}

.btn-orange {
    background-color: #E96C12; /* Un tono más oscuro para el hover */
    border-color: #E96C12;
    color: white;
    text-transform: capitalize;
}

.btn-orange:hover {
    transition: all 250ms ease;
    font-weight: bold;
}


