/*----------Estilo del carousel----------*/

.carousel-inner img {
    height: 84vh;
    /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    /* Mantiene la proporción de la imagen */
}

.carousel-caption {
    bottom: 23%;
    /* Ajusta este valor para mover el contenido hacia arriba o hacia abajo */
}

.btn-orange {
    background-color: #E96C12;
    /* Un tono más oscuro para el hover */
    border-color: #E96C12;
    color: white;
    text-transform: capitalize;
}

.btn-orange:hover {
    background-color: #E96C12;
    /* Un tono más oscuro para el hover */
    border-color: #E96C12;
    transition: all 250ms ease;
    font-weight: bold;
    color: white;
}

.animate__animated.animate__slideInDown {
    --animate-duration: 1s;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {

    .carousel-caption {
        bottom: 20%;
        /* Ajusta este valor para mover el contenido hacia arriba o hacia abajo */
    }

    .carousel-caption p {
        font-size: 0.6rem;
    }

    .carousel-caption h5 {
        font-size: 0.9rem;
        color: #E96C12;
    }

}

/*----------Estilo del navbar dentro de la pagina----------*/

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
    .itemPag {
        font-size: 0.7rem;
    }
}

/*----------Estilo de la section about----------*/

.about {
    margin-top: 6%;
    margin-bottom: 8%;
}

.about-text span {
    font-size: 14px;
    text-transform: uppercase;
    color: #E96C12;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    color: #536B83;
    margin: 15px 0;
    line-height: 1;
}

hr {
    border: 1px solid chocolate;
    width: 10%;
}

.imagen-bajada {
    margin-top: 16%;
    /* Ajusta el valor según sea necesario */
}

.about-img img {
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.about-img img:hover {
    transition: all 250ms ease;
    border: solid chocolate;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
    .about-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 20px;
        /* Ajusta según sea necesario */
        margin-bottom: 40px;

    }

    .about-text {
        text-align: center;
    }

    .about-text span {
        font-size: 0.7rem;
    }

    .about-text h2 {
        font-size: 0.9rem;
    }

    .about-text p {
        font-size: 0.6rem;
    }

    .btn-orange {
        margin: 20px auto;
    }
}

/*----------Estilo de la section diferenciales----------*/

.diferenciales {
    background-color: #e3e3e3;
}

.diferenciales span {
    font-size: 14px;
    text-transform: uppercase;
    color: #E96C12;
    font-weight: bold;
}

.titulo-diferencial {
    margin-bottom: 3%;
}

.diferencial-content :hover:not(p):not(h4) {
    transition: all 250ms ease;
    font-weight: bold;
    border: solid #E96C12;
}

.diferencial-1 h4 {
    font-size: 15px;
    margin-bottom: 15px;
}

.diferencial-1 p {
    font-size: 15px;
    margin-bottom: 10px;
}

.Icono-Diferencial {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #E96C12;
    background-color: white;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {

    .diferenciales span {
        font-size: 0.7rem;
    }

    .titulo-diferencial {
        font-size: 0.9rem;
        margin-bottom: 8%;
    }

    .diferencial-1 img {
        width: 60px;
        height: 60px;
    }

    .diferencial-1 h4 {
        font-size: 0.8rem;
    }

    .diferencial-1 p {
        font-size: 0.7rem;
    }
}

/*----------Estilo de la section servicios----------*/

.Servicios {
    padding: 100px 0;
}

.border-orange {
    border-color: #E96C12 !important;
}

.text-orange {
    color: #E96C12;
}

.card-title {
    padding: 8px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 25px 0 35px 0;
    background: linear-gradient(90deg, rgba(245, 99, 72, 1) 0%, rgba(254, 140, 32, 1) 100%);
}

.card-text {
    margin-bottom: 20px;
}

.card-body:hover {
    transition: all 250ms ease;
    font-weight: bold;
    border: solid chocolate;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {
    .titulo-servicios {
        font-size: 0.9rem;
        margin-bottom: 5%;
    }

    .card-body span {
        font-size: 0.9rem;
    }

    .card-title {
        font-size: 1.0rem;
    }

    .card-body p {
        font-size: 0.8rem;
    }
}

/*----------Estilo de la section informacion----------*/

.informacion {
    background-color: #E3E3E3;
}

.informacion-txt {
    text-align: justify;
    padding: 20px 0 0 30px;
}

.informacion-txt:hover {
    transition: all 250ms ease;
    font-weight: bold;
}

.text-orange {
    color: #E96C12;
}

.informacion-txt h3 {
    font-size: 25px;
    margin-top: 6px;
    color: #536B83;
}

.border-orange {
    border-color: #E96C12 !important;
}

.texto-informacion {
    width: 79%;
}

.informacion-img:hover {
    transition: all 250ms ease;
    border: solid chocolate;
}

.informacion-img img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    filter: brightness(0.7);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {

    .informacion {
        padding-bottom: 21px;
    }

    .informacion-txt {
        padding-top: 30px;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

    .informacion-txt span {
        font-size: 0.9rem;
    }

    .informacion-txt h3 {
        font-size: 1.0rem;
    }

    .texto-informacion {
        width: 94%;
        margin-bottom: 13%;
        font-size: 0.7rem;
    }

    .lista {
        font-size: 0.7rem;
        list-style: disc;
    }
}


/*----------Estilo de la section productos version2----------*/

.productos {
    margin-top: 5%;
    margin-bottom: 1%;
}

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text h1 {
    color: #536B83;
    margin-top: 6px;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

#menuProductos .nav-pills .nav-link {
    background-color: #FFFFFF;
    margin-left: 8px;
    margin-right: 8px;
    color: #536B83;
    border-radius: 100px;
    font-weight: bold;
    border: 0.2px solid rgb(97, 92, 92);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menuProductos .nav-pills .nav-link.active {
    background-color: #E96C12;
    color: white;
    border: 0.2px solid #E96C12;
}

.card-product{
    margin-bottom: 6%;
}

.menu-item{
    width: 95%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    transition: all 400ms ease;
    min-height: 400px;
}

h5{
    font-weight: bold;
    color: #E96C12;
    font-size: 14px;
}

.parrafo-producto{
    font-size: 14px;
}

.imagenProducto{
    width: 90%;
    object-fit: cover;
}

.card-product :hover :not(.menu-item){
    transition: all 400ms ease;
    transform: scale(.96);
}

@media (max-width: 767.98px) {

    .productos{
        margin-top: 17%;
    }

    .titulo-productos {
        font-size: 0.9rem;
        margin-bottom: 5%;
    }

    .span-productos span {
        font-size: 0.9rem;
    }

    .parrafo-productos{
        font-size: 0.6rem;
    }

    .btn-productos{}

    .card-product{
        width: 76%;
        margin-top: 4%;
        margin-bottom: 8%;
        min-height: none;
    }

}


/*----------Estilo de la section grafico----------*/
.grafica-inicio {
    background: linear-gradient(to bottom, #E3E3E3, #FFFFFF);
    padding-top: 4%;
}

.grafica-inicio span {
    font-size: 14px;
    text-transform: uppercase;
    color: #E96C12;
    font-weight: bold;
}

.grafico-valores {
    width: 20%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767.98px) {

    .grafica-inicio span {
        padding-top: 30px;
        font-size: 0.9rem;
    }

    .titulo-grafico {
        font-size: 1.0rem;
        margin-bottom: 5%;
    }

    .grafico-valores {
        width: 270px;
    }
}